:root{
     /* colors */
     --hue: 230;
     /* HSL color mode */
     --base-color: hsl(var(--hue), 36%, 57%);
     --base-color-second: hsl(256, 100%, 60%);
     --base-color-alt: hsl(var(--hue), 94%, 63%);
     --title-color: hsl(var(--hue), 41%, 10%);
     --text-color: hsl(0, 0% ,46%);
     --text-color-light: hsl(0, 0% ,98%);
     --body-color: hsl(0, 0% ,98%);

     --title-2: 2rem;
     --text: 1.125rem;
     --title: 1rem;
     --titleBig: 4rem;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font: 400 1rem "DM Sans", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

ul{
    list-style: none;
}

a{
    text-decoration:none;
}

button, .button{
    background: linear-gradient( var(--base-color-alt), #3022fc);
    font: 500 1rem "Poppins", sans-serif;
    color: var(--body-color);
    border-radius: 12px;
    height: 3.5rem;   
    width: 100%;
    outline: none;
    border-style: none;
}

.container{
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid{
    display: grid;
    gap: 1rem;
}


.divider-1{
    height: 5px;
    background: var(--title-color);
    margin-bottom: 0.5rem;
}

.section{
    padding: 3rem 0;
}

.title-2{
    font: 600 var(--title-2) "Poppins", sans-serif;
    color: var(--title-color);
}
.text{
    font: 400 var(--text) "Manrope", sans-serif;
    color: var(--title-color);
}

.title{
    font: 700 var(--title) "Poppins", sans-serif;
    color: var(--base-color);
}



/*/////header//////*/

main{
    margin-top: calc(var(--header-height) + 2rem);
}

#header .container{
    padding: 1rem 0;
}

#header{
    display: flex;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
}

#header .caixa-logo{
    width: 100%;
    display: flex;
}

#header .caixa-logo p{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#header.scroll{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

#header .logo{
    height: 2rem;
    z-index: 100;
}

    /* NAVIGATION */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    nav ul{
        padding: 0 3rem;
        height: 15rem;
    }
    
    nav ul li{
        text-align: left;
    }
    
    nav ul li a{
        transition: color 0.2s;
    }
    
    nav ul li a:hover{
        color: var(--base-color);
    }
    
    nav ul li a::after{
        content: "";
        width: 0%;
        height: 2px;
        background: var(--base-color);
    
        position: absolute; /* é absoluto em relação ao próximo pai que for relativo, isto é, o <a>*/
        left: 0;
        bottom: -1.5rem;
    
        transition: width 0.2s;
    }
    
    /* faz a animação de preenchimento*/
    nav ul li a:hover::after{
        width: 100%;
    }
    
    nav .menu{
        transition: 0.4s;
        left: 30rem;
    }
    
    nav .menu ul{
        display: none;
    }

    /* Menu sanduich show*/
    nav.show .menu{
     
        background: var(--body-color);
        height: 100vh;
        width: 100vw;
        padding-top: 120px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        display: grid;
    }

    nav hr{
        width: 50%;
    }

    nav i{
        font-size: 2rem;
        margin: 0 0.5rem;
        color: var(--title-color);
    }   

    nav div .form{
        width: 100%;
        clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0% 100%);
        background:linear-gradient(var(--base-color-second), var(--base-color-alt));
        padding-bottom: 2rem;
    }
        
    nav.show .menu ul{
        display: grid;
    }
    
    nav.show ul.grid{
        gap: 1rem;
    }
    
    /* TOGGLE MENU */
    .toggle{
        color: var(--base-color);
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 10;
    }
    
    nav .icon-x{
        visibility: hidden;
    
        position: absolute;
        top: -2.5rem;
        right: 1.5rem;
        z-index: 100;
    
        transition: 0.2s;
    }
    
    nav.show div.icon-x{
        visibility: visible;
        opacity: 1;
        top: 1.5rem;
    }

/*////Home////*/

.hifen{
    background: var(--base-color);
    height: 2px;
    width: 3.3rem;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 10px;
}
main #home{
    padding: 3.5rem 0 3rem 0;
}

#home .text{
    text-align:left;
}

#home .title-2{
    margin-bottom: 0.5rem;
}

#home h1{
    margin-bottom: 1rem;
}

#home .avatar{
    height: 23.4375rem;
    width: 100%;
    background: linear-gradient(var(--base-color-alt), var(--base-color-second));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 70%, 0 0, 100% 30%, 100% 100%);
    box-shadow: 1px 4px 10px #000000;
}

#home .caixa-avatar{
    position: relative;
}
@media (min-width: 360px)
{
  #home .cirq{
    display: none;
   }
}

#home .caixa-avatar::before{
    content:'';
    height:100%;
    width: 100%;
    background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
    position: absolute;
    clip-path: polygon(0 70%, 0 0, 100% 30%, 100% 100%);
    top: 2.8%;
    left: 0;
}

#home .circulo2{
    height:300px;
    width: 300px;
    left: 60%;
    top: 50%;
    position: absolute;
    border-radius: 100%;
    background: transparent;
    border: solid white;
    transition: 0.5s;
}
#home .circulo3{
    height:50px;
    width: 50px;
    position: absolute;
    border-radius: 100%;
    left: 75%;
    background: transparent;
    border: solid white;
    transition: 0.5s;
}
#home .circulo4{
    height:500px;
    width: 500px;
    right: 75%;
    position: absolute;
    background: transparent;
    border-radius: 100%;
    border: solid white;
    transition: 0.5s;
}
#home .circulo5{
    height:400px;
    width: 400px;
    right: 45%;
    top: -30%;
    position: absolute;
    background: transparent;
    border-radius: 100%;
    border: solid white;
    transition: 0.5s;
}
#home .circulo{
    border-radius: 100%;
    height: 11.75rem;
    width: 11.625rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 6px 3px 20px 3px black;
    transition: 0.5s;
    z-index: 98;
}
#home .circulo6{
    height:100px;
    width: 100px;
    right: 68%;
    position: absolute;
    background: transparent;
    border-radius: 100%;
    border: solid white;
    transition: 0.5s;
}
#home .circulo7{
    height:600px;
    width: 600px;
    right: -25%;
    top: 10%;
    position: absolute;
    background: transparent;
    border-radius: 100%;
    border: solid white;
    transition: 0.5s;
}


@media (max-width: 365px){
#home .cirq{
    display: none;
}
}

#home .avatar .circulo:hover{
    height: 13.75rem;
    width: 13.625rem;
}

#home .hover{
    transform: scale(0.60,0.60);
}

#home .hover-mais{
    transform: scale(6, 6);
}

#home .avatar img {
    height: 30.75rem;
    width: 30.75rem;
    position: relative;
    top: -70%;
}

#home .title-2{
    text-align: left;
}

/*/////SOBRE///////*/

#sobre h2{
    margin-bottom: 1rem;
}

#sobre .title-2{
    font-size: var(--titleBig);
    text-align: left;
    margin: 1.3rem 0;
    line-height: 4.5rem;
}

#sobre hr{
    width: 50%;
}
#sobre .text{
    margin-bottom: 2rem;
    font: 600 var(--text) "Poppins", sans-serif;
}

#sobre .center{
    justify-content: space-around;
    display: inline-block;
    width: 100%;
}
#sobre .center-2{
    display: flex;
    justify-content: center;
}

#sobre img {
    height: 15rem;
    width: 15rem;
    position: relative;
    animation: 7s  mymove infinite;
    animation-fill-mode: both;
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 25px;}
    50% {top: 0px;}
    75%  {top: 30px}
    100% {top:0px;}
  }

#sobre i{
    margin-right: 4px;
}

#sobre a{
    background: linear-gradient( var(--base-color-alt), #4c3fff);
    font: 500 1rem "Poppins", sans-serif;
    color: var(--body-color);
    border-radius: 12px;
    height: 3.5rem;   
    width: 100%;
    outline: none;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sobre .block{}

/*/////projetos///////*/

#projetos label{
    font: 600 3rem "Poppins", sans-serif;
    text-align: left;
}

#projetos{
    background: transparent;
}

#projetos .container{
    margin-left: 0;
    margin-right: 0;
}

#projetos header{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
}


#projetos .card{
 height: 36rem;
 border-radius: 1.3125rem;
 background: transparent;
 padding: 2rem;
 transition: 0.4s;
}

#projetos .card:hover{
    box-shadow: 0px 20px 20px 1px rgba(0, 0, 0, 0.25);
    background: white;
}


@media (min-width: 360px){
    #projetos .card .title-2{
        font-size: 1.8rem;
    }
}

@media (max-width: 361px){
    
    #projetos #mage .text{
        font-size: 1.1rem;
    }
}


#projetos .center{
    position: relative;
    display: flex;
    justify-content: center;
}



#projetos .circulo {
    overflow: hidden;
    border-radius: 50%;
    width: 11.625rem;
    height: 11.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 0 2rem 2rem 2rem;
}

#projetos .card:hover .circulo{
transform: scale(1.15,1.15);
}



#projetos .mage{
    background: rgb(49, 0, 112);
}
#projetos .lampada{
    background: #E35555;
}

#projetos .sol {
    background: rgb(209, 128, 7);
}

#projetos .gama {
    background: rgb(10, 7, 209);
}

#projetos a{
    height: 4.375rem;
    width: 12.21875rem;
    background: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#projetos .text, .title-2{
    text-align: center;
}

#projetos img{
    height: 10rem;
    width: 10rem;
}

/* swiper */
.swiper-slide{
    height: auto;
    padding: 4rem 2.5rem;
}

#projetos .swiper-button-next, .swiper-button-prev{
    display: none;
 }

.swiper-pagination-bullet-active{
    background: var(--base-color);
}
.swiper-container{
    position: relative;
}





/*///////SKILLS////////*/

#skills .section{
    background: linear-gradient(var(--base-color-alt), var(--base-color-second));
}

#skills h4{
    font: 500 4.5rem "Manrope", sans-serif;
}

#skills .white{
    font: 300 var(--text) "Manrope", sans-serif;
}

#skills h4, .white{
    color: white;
    text-align: initial;
}

/*///invertendo o foguete///////*/
#skills .foguete{

    height: 10rem;
    width: 10rem;
}

#skills #habilidades{
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#skills #habilidades img:hover {
    transform: translateY(-8px);
}

#skills #habilidades img{
    height: 5.5625rem;
    width: 5.5625rem;
    margin: 1rem 0;
    transition: 0.5s;
}


#skills .espaço{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 5rem 0;
}

#skills #habilidades .dividider-2{
    border-style: solid;
    border-color: var(--title-color);
    height: 10px;
    width: 25%;
    position: absolute;
}

#skills #java .dividider-2{
    box-shadow: inset 70px 0 0 0 white;
}
#skills #html .dividider-2{
    box-shadow: inset 60px 0 0 0 white;
}
#skills #javascript .dividider-2{
    box-shadow: inset 40px 0 0 0 white;
}
#skills #css .dividider-2{
    box-shadow: inset 50px 0 0 0 white;
}
#skills #sql .dividider-2{
    box-shadow: inset 30px 0 0 0 white;
}
#skills #php .dividider-2{
    box-shadow: inset 25px 0 0 0 white;
}

/*///////CONTATO///////////*/


#contato .title-2{
    font-size: 4rem;
    text-align: left;
}

#contato h5.title, p.text, .title-2{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#contato .aviao{
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
}


#contato form .info-box{
    position: relative;
}

@media (min-width: 360px)
{
  #contato div .infos{
    display: none;
   }
}

#contato form input{
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-bottom: solid;
    width: 100%;
    height: 2rem;
    margin: 1.2rem 0;
    background: transparent;
}


#contato  .info-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    color: black;
    font-size: 1.2rem;
    pointer-events: none;
    transition: .5s;
  }

#contato  .info-box input:focus ~ label,
#contato .info-box input:valid ~ label{
  top: -20px;
  left: 0;
  font-size: 0.9rem;
}

#contato form textarea{
    outline: none;
    border: none;
    height: 9.375rem;
    width: 100%;
    border-radius: 1.3125rem;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.25);
    padding: 0.75rem;
}

#contato form .botao{
    background: #3c06ff;
    font: 500 1rem "Poppins", sans-serif;
    color: var(--body-color);
    border-radius: 12px;
    border: #3c06ff;
    height: 4rem;   
    width: 100%;
    outline: none;
    border-style: none;
    transition: 1s;
}

#contato form .botao:hover{
    box-shadow: inset 600px 0 0 0 white;
    color: var(--title-color);
    cursor: pointer;
    border: #3c06ff solid;
}

[data-fly] {
    transition: 0.5s;
}

[data-fly="right"]{
    transform: translate3d(400px, 200px, 0px);
}

[data-fly="left"]{
    transform: translate3d(-300px, 200px, 0px);
}

.animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*////////FOOTER//////*/

#footer{
    background: linear-gradient(180deg, #4200FF 0%, #5523E0 100%);
}

#footer .container, a{
    font: 200 var(--text) "Poppins", sans-serif;
    color: white;
}

#footer i{
    font-size: 2rem;
    margin: 0 0.5rem;
}

#footer a{
    display: inline-block;
    transition: 0.5s;
}

#footer a:hover {
    transform: translateY(-8px);
}

#footer .section{
    padding: 1.5rem 0;
}

.back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.5rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
    z-index: 100;
}


@media (min-width: 1200px){

    :root{
        --title-2: 4rem;
        --text: 2rem;
        --titleBig: 8rem;
    }

    .container{     
        max-width: 1334px;
        margin: 0 auto;
        padding: 0 82px;
    }

    nav ul {
        justify-content: end;
        margin-right: 10rem;
    }

    #header{
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 48px 0;
        width: 100%;
    }

    #header .container{
        margin: 0;
        padding: 0 82px;
        max-width: none;
    }

    #header .logo{
        height: 3rem;
    }

    #header .icon-menu{
        color: white;
        font-size: 4rem;
    }

    nav div .form{
        /* clip-path: polygon(0 61%, 100% 100%, 100% 100%, 0% 100%); */
        clip-path: inset(0 69% 0 0);
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(var(--base-color-alt), var(--base-color-second));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .icon-x{
        top: .5rem;
        right: 4.5rem;
        font-size: 4rem;
    }
    


    /* ////HOME///////*/

    #home .title-2{
        line-height: 1.2;
    }

    /* /////SOBRE//////*/

    #sobre .title-2{
        line-height: 7.5rem;
    }
    #sobre p.text{
        margin-bottom: 8rem;
    }

    #sobre a{
        width: 100%;
        height: 5rem;
    }

    #sobre .center{
        display: block;
    }

    #sobre .center-2{
        position: relative;
        justify-content: center;
        display: flex;
        top: -13rem;
        right: -10rem;
    }

    #sobre .sub-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #sobre img{
        height: 25rem;
        width: 25rem;
    }

    #sobre .title-2{
        margin-bottom: 6rem;
    }

    #sobre .container{
        height: 70rem;
    }

    #sobre {
        padding-bottom: 0;
    }




    #home .caixa-avatar{
        clip-path: polygon(100% 0, 100% 38%, 87% 100%, 39% 100%, 64% 0);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(var(--base-color-alt), var(--base-color-second));
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home .caixa-avatar::before{
        content:0;
        height:100%;
        width: 100%;
        z-index: -1;
        background-image: none;
        position: absolute;
        clip-path: polygon(100% 0, 100% 38%, 87% 100%, 39% 100%, 64% 0);
        top: 2.8%;
        left: 0;
    }

    #home .avatar{
        height: 100%;
        width: 100%;
        background: none;
        position: relative;
        display: flex;
        clip-path: polygon(100% 0, 100% 38%, 87% 100%, 39% 100%, 64% 0);
        justify-content: center;
        align-items: center;
    }

    #home .avatar img {
        top: -40%;
    }


    #home  {
        margin-bottom: 20rem;
    }

    #home .cirq{
        z-index: -1;
    }

    #home .avatar .circulo{
        height: 19.75rem;
        width: 19.625rem;
        transform: scale(1.1, 1.1);
        left: 65%;
        top: 28%;
        position: absolute;
    }
    #home .circulo2{
        height:300px;
        width: 300px;
        left: 60%;
        top: 50%;
        position: absolute;
        border-radius: 100%;
        background: transparent;
        border: solid white;
        transition: 0.5s;
    }
    #home .circulo3{
        height:100px;
        width: 100px;
        position: absolute;
        border-radius: 100%;
        left: 75%;
        top: 80%;
        background: transparent;
        border: solid white;
        transition: 0.5s;
    }
    #home .circulo4{
        height:500px;
        width: 500px;
        right: 35%;
        top: 70%;
        position: absolute;
        background: transparent;
        border-radius: 100%;
        border: solid white;
        transition: 0.5s;
    }
    #home .circulo5{
        height:400px;
        width: 400px;
        right: 45%;
        top: -30%;
        position: absolute;
        background: transparent;
        border-radius: 100%;
        border: solid white;
        transition: 0.5s;
    }
    #home .circulo6{
        height:50px;
        width: 50px;
        right: 20%;
        top: 10%;
        position: absolute;
        background: transparent;
        border-radius: 100%;
        border: solid white;
        transition: 0.5s;
    }
    

    #home .avatar .circulo:hover{
        height: 21.75rem;
        width: 21.625rem;
    }


    #projetos {
        padding-top: 0;
    }

   

    #projetos .container{
        margin: auto;
    }
    #projetos .title-2{
        font-size: var(--title-2);
    }

    #projetos p.title-2{
        font: 600 2rem "Poppins", sans-serif;
    }

    #projetos .text{
        font-size: 1.25rem;
    }

    #projetos .swiper-button-next, .swiper-button-prev{
        color: var(--title-color);
        transition: 0.5s;
        display: flex;
    }

    #projetos .swiper-button-next{
        margin-right: 1.5rem;
    }
    #projetos .swiper-button-prev{
        margin-left: 1.5rem;
    }

    #projetos .swiper-button-next:hover, .swiper-button-prev:hover{
        transform: scale(1.20,1.20);
    }

    .swiper-slide {
        height: auto;
        padding: 4rem 1rem;
    }





    #skills .espaço{
        margin: 0;
    }

    #skills #habilidades {
        margin-bottom: 10rem;
        column-gap: 60px;
    }
    
    #skills #java .dividider-2{
        box-shadow: inset 300px 0 0 0 white;
    }
    #skills #html .dividider-2{
        box-shadow: inset 240px 0 0 0 white;
    }
    #skills #javascript .dividider-2{
        box-shadow: inset 270px 0 0 0 white;
    }
    #skills #css .dividider-2{
        box-shadow: inset 210px 0 0 0 white;
    }
    #skills #sql .dividider-2{
        box-shadow: inset 130px 0 0 0 white;
    }
    #skills #php .dividider-2{
        box-shadow: inset 140px 0 0 0 white;
    }

    #skills #habilidades .dividider-2{
        height: 1rem;
        width: 20%;
    }

    #skills #habilidades img{
        height: 10.5625rem;
        width: 10.5625rem;
    }

    #skills .foguete{
        height: 15rem;
        width: 15rem;
    }


    #video iframe{
        width: 1280px;
        height: 720px;
    }



    #contato form .botao{
        margin-bottom: 5rem;
    }

    #contato form textarea{
        font-size: 1.5rem;
    }

    #contato .container{
        border-radius: 10%;
        background: white;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
        padding-top: 4rem;
        }


    #contato div .infos{
        display: block;
    }
    #contato .infos label{
        display: block;
    }

    #contato .grid{
        grid-template-columns: 1fr 1fr;
    }

    #contato .infos label{
        margin-top: 4rem;
        font-size: 1.4rem;
    }


    #footer .container{
        font-size: 1.5rem;
    }


}


